<div class="login" layout="row" layout-align="center center">
  <div class="form" layout-align="center center">
    <md-card>
      <form layout="row" (ngSubmit)="login()">
        <md-card-content layout="row">
            <md-input [(ngModel)]="model.userEmail" name="email" type="email" class="validate" placeholder="your@email.address" style="width: 100%"></md-input>
            <md-input [(ngModel)]="model.userPassword" name="password" type="password" class="validate" placeholder="password" style="width: 100%"></md-input>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center">
          <button md-raised-button color="accent" type="submit">Login</button>
        </md-card-actions>
      </form>
    </md-card>
  </div>
</div>