<div class="login" layout="row" layout-align="center center">
  <div class="form" layout-align="center center">
    <md-card>
      <md-card-content layout="row">
        <form layout="row">
          <md-input placeholder="your@email.address"></md-input>
          <md-input placeholder="password"></md-input>
        </form>
      </md-card-content>
      <md-card-actions align="end">
        <button md-raised-button color="accent">Login</button>
      </md-card-actions>
    </md-card>
  </div>
</div>