
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 2;
}

md-sidenav-layout {
  background: rgba(0,0,0,0.03);
}

.form {
  width: 300px;
  position: absolute;
  right: 3%;
  z-index: 1;
}

